<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>exer02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 
<listener>

<listener-class> handlers.ApplicationHandler</listener-class>

</listener>


<listener>

<listener-class> handlers.SessionHandler</listener-class>

</listener>

<filter>
	<filter-name>message</filter-name>
	<filter-class>filters.Filter</filter-class>
</filter>

<filter-mapping>
	<filter-name>message</filter-name>
	<url-pattern>/message/*</url-pattern>
</filter-mapping>

<filter>
	<filter-name>game</filter-name>
	<filter-class>filters.Filter</filter-class>
</filter>
<filter-mapping>
		<filter-name>game</filter-name>
		<url-pattern>/game/*</url-pattern>
</filter-mapping>

<filter>
	<filter-name>join</filter-name>
	<filter-class>filters.JoinFilter</filter-class>
</filter>
<filter-mapping>
		<filter-name>join</filter-name>
		<url-pattern>/join/join12.jsp</url-pattern>
</filter-mapping>

<filter>
	<filter-name>login</filter-name>
	<filter-class>filters.LoginFilter</filter-class>
</filter>
<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/log12.jsp</url-pattern>
</filter-mapping>

<filter>
	<filter-name>change</filter-name>
	<filter-class>filters.Filter</filter-class>
</filter>

<filter-mapping>
	<filter-name>change</filter-name>
	<url-pattern>/change/*</url-pattern>
</filter-mapping>






</web-app>